<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">

      <h1>A Bootstrap Starter Template</h1>
      <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
    </div>
  </div> 
  <div class = "row">
    <div class="col-lg-5">
      <div id="map"></div>
    </div>
    <div class="col-lg-7">
      <div class="dhe-example-section" id="ex-1-3">
          <!-- <div class="dhe-example-section-header">
            <h3 class="dhe-h3 dhe-example-title">Example 1.3: Sortable and connectable lists with visual helper</h3>
            <div class="dhe-example-description">Drag and drop items within and between lists. A visual helper is displayed indicating where the item will be positioned if dropped.</div>
          </div> -->
          <div class="dhe-example-section-content">

            <div id="example-1-3">

            <div class="container">
    <div class="btn-group col-xs-12" data-toggle="buttons">
                        {% for x in data[:3] %}

        <label class="btn btn-default">
            <input type="checkbox" name="fruit" value="{{x}}">{{x}}</input>

        </label>
                  {% endfor %}

    </div>
</div>
            <div class="container">
    <div class="btn-group col-xs-12" data-toggle="buttons">
                        {% for x in data[3:5] %}

        <label class="btn btn-default">
            <input type="checkbox" name="fruit" value="{{x}}">{{x}}</input>
        </label>
                  {% endfor %}

    </div>
</div>
            <div class="container">
    <div class="btn-group col-xs-12" data-toggle="buttons">
                        {% for x in data[5:8] %}

        <label class="btn btn-default">
            <input type="checkbox" name="fruit"  value="{{x}}">{{x}}</input>
        </label>
                  {% endfor %}

    </div>
</div>

            <div class="container">
    <div class="btn-group col-xs-12" data-toggle="buttons">
                        {% for x in data[8:] %}

        <label class="btn btn-default">
            <input type="checkbox" name="fruit" value='{{x}}'>{{x}}</input>

        </label>
                  {% endfor %}

    </div>
</div>
             
            <div class="clearer">&nbsp;</div>


{% for x in data %}

<!-- <div id='slider_{{x}}' class = 'sliders' style='display:none'></div> -->
<div class="slider"  id='{{x}}' style='display:none'></div>

<script type="text/javascript">

// var s1 = slider()
// d3.select("#slider_{{x}}").append("svg").call(s1)
// </script>
                  {% endfor %}

<!-- 
// Render the slider in the div

// var handleClick = function(){
//   var range = d3.scale.linear().domain([-1, 1]).range([0, 150])

// var val = document.getElementById("myVal").value
// var rect = d3.select('#slider').select(".d3slider-rect-value").attr('width')
// console.log(rect)

// if(val > (range.invert(rect) - .1) & val < (range.invert(rect) + .1) ){
//       d3.select('#slider').select('.boob').remove()

//   d3.select('#slider').select(".dragger-outer").style('fill', 'green')

// } else {
//     d3.select('#slider').select('.boob').remove()

//   d3.select('#slider').select('svg').select('g').append('rect')
//     .attr('width', 4)
//     .attr('height', 12)
//     .attr('class', 'boob')
//     .style('fill', 'red')
//     .attr("transform", function(d) {
//         return "translate("+ range(val) +",0)";
//       });
//       d3.select('#slider').select(".dragger-outer").style('fill', '#ddd')


// }
// } -->
</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

